absl-py==0.2.0
argon2-cffi==20.1.0
astor==0.6.2
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
bs4==0.0.1
certifi==2018.1.18
cffi==1.14.4
chardet==3.0.4
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
easydict==1.9
entrypoints==0.3
future==0.18.2
gast==0.2.0
grpcio==1.11.0
h5py==2.10.0
html5lib==0.9999999
idna==2.6
importlib-metadata==2.1.1
iniconfig==1.1.1
ipykernel==5.4.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.17.2
Jinja2==2.11.3
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-server==1.2.0
Keras==2.1.5
kiwisolver==1.0.1
lmdb==1.0.0
lxml==4.6.2
mahotas==1.4.11
Markdown==2.6.11
MarkupSafe==1.1.1
matplotlib==2.2.2
mistune==0.8.4
mock==2.0.0
nbconvert==5.6.1
nbformat==5.1.2
notebook==6.2.0
numpy==1.14.2
opencv-contrib-python==4.0.0.21
packaging==20.9
pandas==0.22.0
pandocfilters==1.4.3
parso==0.7.1
pathlib2==2.3.5
pbr==4.0.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pip-autoremove==0.9.1
pluggy==0.13.1
prometheus-client==0.9.0
prompt-toolkit==2.0.10
protobuf==3.5.2.post1
ptyprocess==0.7.0
py==1.10.0
pycparser==2.20
pycurl==7.43.0
Pygments==2.7.4
pygobject==3.20.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.1.2
python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.8.1
pytz==2018.4
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==5.0.0
QtPy==1.9.0
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.1
Send2Trash==1.5.0
sentencepiece==0.1.95
simplegeneric==0.8.1
six==1.15.0
sklearn==0.0
soupsieve==2.1
ssh-import-id==5.7
tensorboard==1.8.0
tensorflow==1.8.0
tensorflow-gpu==1.8.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.2
torchtext==0.6.0
tornado==6.1
tqdm==4.56.0
traitlets==4.3.3
ufw==0.36
urllib3==1.22
wcwidth==0.2.5
web.py==0.40.dev0
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.5.1
zipp==1.2.0
